@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html * {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/mondinga.png), url(../img/background.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 80% -20%, center center;
  background-size: 64%, cover;
}

body * {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  margin-right: 80px;
  margin-bottom: 40px;
}

.logo {
  width: 17%;
}

.menu ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding-right: 60px;
}

.menu ul a {
  color: #263F65;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
}
.menu ul a:hover {
  background-color: #263F65;
  color: #969696;
}

aside {
  display: flex;
  align-items: center;
}

aside a {
  padding-right: 20px;
}

aside a:nth-of-type(3) {
  color: #263F65;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  font-weight: bold;
}
aside a:nth-of-type(3):hover {
  background: #969696;
}

.boton-1 {
  color: white;
  background-color: #263F65;
  padding: 12px 35px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}
.boton-1:hover {
  background: #969696;
}

section {
  width: 50%;
}

h1 {
  color: #263F65;
  font-size: 50px;
  margin-bottom: 10px;
  line-height: 115%;
}

.tituloydesc p {
  color: #969696;
  font-size: 18px;
  padding-right: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comentarios {
  float: right;
  width: 20%;
  margin-top: 10 0px;
}

.comentarios p {
  font-size: 14px;
}

.com1, .com2 {
  position: absolute;
  background-color: white;
  width: 300px;
  padding: 12px 9px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.432); /* Color semitransparente */
  -webkit-backdrop-filter: blur(10px); /* Para navegadores basados en WebKit */
  backdrop-filter: blur(5px); /* Desenfoque del fondo */
  opacity: 1; /* Para controlar la transparencia */
}

.com1 {
  right: 50px;
  top: 180px;
}

.com2 {
  bottom: 50px;
  right: 150px;
}

.com1 p:last-of-type, .com2 p:last-of-type {
  color: #263F65;
  font-weight: bold;
}

.botones button:first-child {
  color: white;
  background-color: #263F65;
  padding: 12px 35px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  margin-right: 40px;
}
.botones button:first-child:hover {
  background-color: #969696;
}

.botones {
  margin-bottom: 80px;
}

.botones a {
  background-image: url(img/play.svg);
  background-repeat: no-repeat;
  padding-left: 40px;
  color: #263F65;
  text-decoration: none;
}
.botones a:hover {
  border-bottom: 3px solid #263F65;
}

.datos {
  display: grid;
  width: 35%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 0.5fr;
  justify-items: center;
  padding-left: 20px;
  align-items: center;
}

.datos p:nth-of-type(1), .datos p:nth-of-type(2), .datos p:nth-of-type(3) {
  color: #263F65;
  font-size: 24px;
  font-weight: bold;
}

.datos p:nth-of-type(4), .datos p:nth-of-type(5), .datos p:nth-of-type(6) {
  color: #969696;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
